/.quarto/
/_freeze/
garage/*
*.Identifier

_site/*

/.luarc.json

tmp*

posts/duckdb-intro-csv/file/*
!posts/duckdb-intro-csv/file/parco_circolante_Abruzzo.*
!posts/duckdb-intro-csv/file/PNRR_Progetti-Universo_REGIS_v2.1.*

posts/duckdb-intro-csv/rill/opencoesione/*
docs/posts/dot-cartogram/index.html
posts/leggere-interrogare-file-parquet/*.parquet
